blockquote {
  color: gray;
  font-style: italic;
  quotes: '"' '"' "'" "'"; }

blockquote::before,
blockquote:after {
  font-weight: bold; }

blockquote::before {
  content: open-quote;
  padding-right: 15px; }

blockquote:after {
  content: close-quote;
  padding-left: 15px; }

.art2-heading {
  padding: 2% 0 2% 0; }

.news-item h1 {
  margin-bottom: 20px; }

<<<<<<< HEAD
.sidebar {
  background-color: black; }
=======
aside {
  background: black; }
>>>>>>> e38c9565659d0fc6b86aa7313637db0539327099
