// Variables

$headerFont: 'Alegreya';
>>>>>>> 8f461be7ad713fabd8116b5a7783276b71cd2aea

blockquote {
	color: gray;
	font-style: italic;
  quotes: '"' '"' "'" "'";
}

blockquote::before,
blockquote:after {
  font-weight: bold;
}

blockquote::before {
	content: open-quote;	
	padding-right: 15px;
}

blockquote:after {
  content: close-quote;
	padding-left: 15px;
}


.art2-heading {
	padding: 2% 0 2% 0;
}

.art2-vid {
	padding-top: 2%;
}

.sidebar {
	background-color: black;
}


.news-item h1 {
	margin-bottom: 20px;
}

.carouselcontainer {
height:550px;
}

aside {
	background: black;
	color: white;
	text-align: center;
	padding-top: 2%;
}

.container-fluid { 
	margin: 0;
}

// Header

.main-header {
	padding: 1% 5% 0;
	border-bottom: 3px solid black;	

	background: linear-gradient(#B03D50, #6E2632 150%);

	h1 {
		color: white;
		font-family: $headerFont;
		font-weight: bold;
		letter-spacing: .1em;
	}

	.lead {
		color: black;
		font-family: $headerFont;
		font-size: 14px;
		letter-spacing: .2em;
		text-transform: uppercase;
	}

	nav {
		a {
			display: inline-block;
			
			margin-right: 2%;

			color: white;
			font-family: $headerFont;
			letter-spacing: .1em;
		}
		a.active {
			text-decoration: underline;
		}
		padding-bottom: 1%;
	}
}

// Articles

.news-item {
	position: relative;

	margin: 1% 0;
	padding: 5% 3%;
	h2 {
		margin-bottom: 20px;
	}
	h2, h3 {
		font-family: $headerFont;
		font-weight: bold;
		letter-spacing: .1em;
		text-decoration: underline;	
	}

	p {
		color: #666666;
		font-family: Helvetica;
	}

	p:nth-of-type(1):first-letter {
		color: #B03D50;	

		font-family: $headerFont;
		font-size: 24px;
		font-weight: bold;
	}

	blockquote {
		color: #B03D50;
		font-style: italic;
	  quotes: '"' '"' "'" "'";
	}

	blockquote::before,
	blockquote::after {
	  font-weight: bold;
	}

	blockquote::before {
		content: open-quote;	
		padding-right: 15px;
	}

	blockquote::after {
	  content: close-quote;
		padding-left: 15px;
	}
	&::after {
		background: #B03D50;
		content: '';
		height: 1px;
		position: absolute;
		bottom: 0;	
		left: 10%;
		right: 10%;
	}
}

aside a {
	color: white;
}

aside img {
	width: 95%;
}